name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 27-2
          - 28-2
          - 29-4
          - 30-1
          - snapshot
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
          extra_nix_config: |
            extra-substituters =
              https://cache.nixos.org
              https://nix-community.cachix.org
              https://emacs-ci.cachix.org
            extra-trusted-public-keys =
              cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
              nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
              emacs-ci.cachix.org-1:B5FVOrxhXXrOL0S+tQ7USrhjMT5iOPH+QN9q0NItom4=
      - run: nix-shell --argstr emacsVersion ${{ matrix.emacs_version }} --run "make test"
      - run: nix-shell --argstr emacsVersion ${{ matrix.emacs_version }} --run "make compile"
